body  {
	margin-left: 20%;
	margin-right: 20%;
	height: 90%;
	background-color: white;
	padding: 1em;
}

header {
	background-color: antiquewhite;
}

body {
	font-family: 'Rokkitt', serif;
	background-color: rgb(220, 230, 250);

}

#header-container {
	text-align: center;
	font-size: 4em;
	font-weight: 600;
}

.border {
	background-color: rgb(200, 100, 100); 
	color: white;
	width: 90%;
	padding-left: 1em;

}

h2 {
	font-weight: 400;
}

